# Data Mining

1) There are three TSLA files that contain the prices of TSLA stock. Merge all 3 files into one file and 
remove duplicates in terms of identical dates. After merging the 3 TSLA files, display the first 5 rows 
(including the header data). Also do a record count (excluding the header values)

In [80]:
import pandas as pd
import numpy as np

In [4]:
# pd.read_csv reads all the csv files
# pd.concat takes the mapped csv files and puts them together
df = pd.concat(
    map(pd.read_csv, ['TSLA01.csv', 'TSLA02.csv','TSLA03.csv']), ignore_index=True)
df

        Date       Close
0   20221209  179.050003
1   20221212  167.820007
2   20221213  160.949997
3   20221214  156.800003
4   20221215  157.669998
5   20221216  150.229996
6   20221219  149.869995
7   20221220  137.800003
8   20221221  137.570007
9   20221222  125.349998
10  20221223  123.150002
11  20221227  109.099998
12  20221228  112.709999
13  20221229  121.820000
14  20221230  123.180000
15  20221101  227.820007
16  20221102  214.979996
17  20221103  215.309998
18  20221104  207.470001
19  20221107  197.080002
20  20221108  191.300003
21  20221109  177.589996
22  20221110  190.720001
23  20221111  195.970001
24  20221114  190.949997
25  20221115  194.419998
26  20221116  186.919998
27  20221117  183.169998
28  20221118  180.190002
29  20221121  167.869995
30  20221122  169.910004
31  20221123  183.199997
32  20221125  182.860001
33  20221117  183.169998
34  20221118  180.190002
35  20221121  167.869995
36  20221122  169.910004
37  20221123  183.199997
38  20221125  182.860001
39  20221128  182.919998
40  20221129  180.830002
41  20221130  194.699997
42  20221201  194.699997
43  20221202  194.860001
44  20221205  182.449997
45  20221206  179.820007
46  20221207  174.039993
47  20221208  173.440002
48  20221209  179.050003
49  20221212  167.820007
50  20221213  160.949997
51  20221214  156.800003

In [5]:
df.sort_values(by="Date", ascending=True)

        Date       Close
15  20221101  227.820007
16  20221102  214.979996
17  20221103  215.309998
18  20221104  207.470001
19  20221107  197.080002
20  20221108  191.300003
21  20221109  177.589996
22  20221110  190.720001
23  20221111  195.970001
24  20221114  190.949997
25  20221115  194.419998
26  20221116  186.919998
33  20221117  183.169998
27  20221117  183.169998
28  20221118  180.190002
34  20221118  180.190002
35  20221121  167.869995
29  20221121  167.869995
36  20221122  169.910004
30  20221122  169.910004
37  20221123  183.199997
31  20221123  183.199997
38  20221125  182.860001
32  20221125  182.860001
39  20221128  182.919998
40  20221129  180.830002
41  20221130  194.699997
42  20221201  194.699997
43  20221202  194.860001
44  20221205  182.449997
45  20221206  179.820007
46  20221207  174.039993
47  20221208  173.440002
48  20221209  179.050003
0   20221209  179.050003
49  20221212  167.820007
1   20221212  167.820007
2   20221213  160.949997
50  20221213  160.949997
51  20221214  156.800003
3   20221214  156.800003
4   20221215  157.669998
5   20221216  150.229996
6   20221219  149.869995
7   20221220  137.800003
8   20221221  137.570007
9   20221222  125.349998
10  20221223  123.150002
11  20221227  109.099998
12  20221228  112.709999
13  20221229  121.820000
14  20221230  123.180000

In [6]:
df_No_Dup = df.drop_duplicates(subset=["Date"], keep='first')

df_No_Dup.sort_values(by="Date", ascending=True)

        Date       Close
15  20221101  227.820007
16  20221102  214.979996
17  20221103  215.309998
18  20221104  207.470001
19  20221107  197.080002
20  20221108  191.300003
21  20221109  177.589996
22  20221110  190.720001
23  20221111  195.970001
24  20221114  190.949997
25  20221115  194.419998
26  20221116  186.919998
27  20221117  183.169998
28  20221118  180.190002
29  20221121  167.869995
30  20221122  169.910004
31  20221123  183.199997
32  20221125  182.860001
39  20221128  182.919998
40  20221129  180.830002
41  20221130  194.699997
42  20221201  194.699997
43  20221202  194.860001
44  20221205  182.449997
45  20221206  179.820007
46  20221207  174.039993
47  20221208  173.440002
0   20221209  179.050003
1   20221212  167.820007
2   20221213  160.949997
3   20221214  156.800003
4   20221215  157.669998
5   20221216  150.229996
6   20221219  149.869995
7   20221220  137.800003
8   20221221  137.570007
9   20221222  125.349998
10  20221223  123.150002
11  20221227  109.099998
12  20221228  112.709999
13  20221229  121.820000
14  20221230  123.180000

In [9]:
# dates sorted by and top 5 rows.
df_No_Dup.sort_values(by="Date", ascending=True).head()

        Date       Close
15  20221101  227.820007
16  20221102  214.979996
17  20221103  215.309998
18  20221104  207.470001
19  20221107  197.080002

In [10]:
# total 42 Dates without any duplicate dates row
df_No_Dup.count()

Date     42
Close    42
dtype: int64

In terms of investing, it is not a good idea to buy different stocks that are correlated. Owning stocks 
that are not correlated reduces the risk to one’s portfolio. 
For this task, you want to find the correlation between each of the following stocks BITCOIN, GOOG, 
MSFT and AAPL. For the correation, you will compare two at a time. There will involve 6 pairwise 
comparisions (BITCOIN and GOOG; BITCOIN and MSFT; BITCOIN and AAPL; GOOG and MSFT; GOOG 
and AAPL; MSFT and AAPL).
Performing a correlation assumes there are an equal number of samples in the BITCOIN, GOOG, MSFT 
and AAPL data sets. Programmatically determine which data set has the fewest number of rows and 
pare down the other data sets. When paring down a data set, make sure to remove the oldest records.
Attached is EXCEL file called Correlation-between-Two-Stocks. It gives an example of finding the 
correlation between 2 stocks. The Manual Formula tab shows the details for finding the correlation 
between 2 stocks. Use this tab as a guide to find the correlation between 2 stocks. Make this into a 
function that may be called 6 times. You will want to pass in 2 stocks and return the correlation value

In [465]:
# pd.read_csv reads all the csv files
dfb = pd.read_csv("BITCOIN.csv")
dfg = pd.read_csv("GOOG.csv")
dfm = pd.read_csv("MSFT.csv")
dfa = pd.read_csv("AAPL.csv")

def stockcorr(df1, df2): 
    df1 = df1.sort_values(by="Date", ascending=False)
    df2 = df2.sort_values(by="Date", ascending=False)
    #get matched rows by the date and ignore rest
    dfcom = pd.merge(df1, df2, how="inner", on = "Date") 
    #find correlation between 2 stocks 
    corr = dfcom['Close_x'].corr(dfcom['Close_y'])    
    return corr

stocksTitle = ["BITCOIN and GOOG", "BITCOIN and MSFT", "BITCOIN and AAPL", "GOOG and MSFT", "GOOG and AAPL", "MSFT and AAPL"]
    
for stock in stocksTitle:
    if (stock == "BITCOIN and GOOG"):
        print("BITCOIN and GOOG Stock Corrilation: "+ str(stockcorr(dfb, dfg)))
    if (stock == "BITCOIN and MSFT"):
        print("BITCOIN and MSFT Stock Corrilation: "+ str(stockcorr(dfb, dfm)))        
    if (stock == "BITCOIN and AAPL"):
        print("BITCOIN and AAPL Stock Corrilation: "+ str(stockcorr(dfb, dfa)))        
    if (stock == "GOOG and MSFT"):
        print("GOOG and MSFT Stock Corrilation: "+ str(stockcorr(dfg, dfm)))
    if (stock == "GOOG and AAPL"):
        print("GOOG and AAPL Stock Corrilation: "+ str(stockcorr(dfg, dfa)))
    if (stock == "MSFT and AAPL"):
        print("MSFT and AAPL Stock Corrilation: "+ str(stockcorr(dfm, dfa)))

BITCOIN and GOOG Stock Corrilation: 0.25374193056374045
BITCOIN and MSFT Stock Corrilation: -0.08533805458264676
BITCOIN and AAPL Stock Corrilation: 0.26757823659747326
GOOG and MSFT Stock Corrilation: 0.468259225343336
GOOG and AAPL Stock Corrilation: 0.6517236134816204
MSFT and AAPL Stock Corrilation: 0.2569700824269488

Task3: Enhance your correlation code to allow for data offsets

In [471]:
# pd.read_csv reads all the csv files
dfb = pd.read_csv("BITCOIN.csv")
dfg = pd.read_csv("GOOG.csv")
dfm = pd.read_csv("MSFT.csv")
dfa = pd.read_csv("AAPL.csv")
def stockcorr(df1, df2, offset):
    #check the length of the two stocks
    if(len(df1)<len(df2)):
        df1Fil = df1.sort_values(by="Date", ascending=False)
        df2Fil = df2.sort_values(by="Date", ascending=False)

        #get matched rows by the date and ignore rest
        df2Fil = pd.merge(df2Fil, df1Fil, how="inner", on = "Date")
        df2Fil.pop("Close_y")#no need for additional merged column
       
        #offset +1
        if(offset == '+1'):    
            df1Fil = df1Fil.iloc[0:len(df1Fil)-1]    
            df1Fil['MergeIndex'] = range(1, len(df1Fil.index)+1)

            #remove first row
            df2Fil = df2Fil.iloc[1:, :]
            #add new index column for merge key
            df2Fil['MergeIndex'] = range(1, len(df2Fil.index)+1) 

            #combine both data sets using mergeindex
            dfcom = pd.merge(df1Fil, df2Fil, on = "MergeIndex") 
            #no need so drop column mergeindex
            dfcom.pop("MergeIndex")
        if(offset == '-1'):    
            df2Fil = df2Fil.iloc[0:len(df2Fil)-1]    
            df2Fil['MergeIndex'] = range(1, len(df2Fil.index)+1)

            #remove first row
            df1Fil = df1Fil.iloc[1:, :]
            #add new index column for merge key
            df1Fil['MergeIndex'] = range(1, len(df1Fil.index)+1) 

            dfcom = pd.merge(df1Fil, df2Fil, on = "MergeIndex") 
            dfcom.pop("MergeIndex")
        #default offset 0
        else:            
            dfcom = pd.merge(df1Fil, df2Fil, on = "Date")  
    else:
        df2Fil = df2.sort_values(by="Date", ascending=False)
        df1Fil = df1.sort_values(by="Date", ascending=False)

        df1Fil = pd.merge(df1Fil, df2Fil, how="inner", on = "Date")
        df1Fil.pop("Close_y")#no need for additional merged column

        #default offset 0
        #offset +1
        if(offset == '+1'):    
            #remove last row
            df1Fil = df1Fil.iloc[0:len(df1Fil)-1]    
            df1Fil['MergeIndex'] = range(1, len(df1Fil.index)+1)

            #remove first row
            df2Fil = df2Fil.iloc[1:, :]
            #add new index column for merge key
            df2Fil['MergeIndex'] = range(1, len(df2Fil.index)+1) 

            dfcom = pd.merge(df1Fil, df2Fil, on = "MergeIndex") 
            dfcom.pop("MergeIndex")
        if(offset == '-1'):    
            #remove first row
            df1Fil = df1Fil.iloc[1:, :]
            #add new index column for merge key
            df1Fil['MergeIndex'] = range(1, len(df1Fil.index)+1) 
            
            df2Fil = df2Fil.iloc[0:len(df2Fil)-1]    
            df2Fil['MergeIndex'] = range(1, len(df2Fil.index)+1)

            dfcom = pd.merge(df1Fil, df2Fil, on = "MergeIndex") 
            dfcom.pop("MergeIndex")
        #default offset 0
        else:            
            dfcom = pd.merge(df1Fil, df2Fil, on = "Date")     
    corr = dfcom['Close_x'].corr(dfcom['Close']) 
    return corr

for stock in stocksTitle:
    if (stock == "BITCOIN and GOOG"):
        print("BITCOIN and GOOG:")
        print("Corrilation: "+ str(stockcorr(dfb, dfg, '')))
        print("'+1' Corrilation: "+ str(stockcorr(dfb, dfg, '+1')))
        print("'-1' Corrilation: "+ str(stockcorr(dfb, dfg, '-1')))
        print("------------------")
    if (stock == "BITCOIN and MSFT"):
        print("BITCOIN and MSFT")
        print("Corrilation: "+ str(stockcorr(dfb, dfm, '')))  
        print("'+1' Corrilation: "+ str(stockcorr(dfb, dfm, '+1')))  
        print("'-1' Corrilation: "+ str(stockcorr(dfb, dfm, '-1')))  
        print("------------------")
    if (stock == "BITCOIN and AAPL"):
        print("BITCOIN and AAPL")
        print("Corrilation: "+ str(stockcorr(dfb, dfa, '')))   
        print("'+1' Corrilation: "+ str(stockcorr(dfb, dfa, '+1')))
        print("'-1' Corrilation: "+ str(stockcorr(dfb, dfa, '-1')))
        print("------------------")
    if (stock == "GOOG and MSFT"):
        print("GOOG and MSFT")
        print("Corrilation: "+ str(stockcorr(dfg, dfm, '')))
        print("'+1' Corrilation: "+ str(stockcorr(dfg, dfm, '+1')))
        print("'-1' Corrilation: "+ str(stockcorr(dfg, dfm, '-1')))
        print("------------------")
    if (stock == "GOOG and AAPL"):
        print("GOOG and AAPL")
        print("Corrilation: "+ str(stockcorr(dfg, dfa, '')))
        print("'+1' Corrilation: "+ str(stockcorr(dfg, dfa, '+1')))
        print("'-1' Corrilation: "+ str(stockcorr(dfg, dfa, '-1')))
        print("------------------")
    if (stock == "MSFT and AAPL"):
        print("MSFT and AAPL")
        print("Corrilation: "+ str(stockcorr(dfm, dfa,'')))
        print("'+1' Corrilation: "+ str(stockcorr(dfm, dfa,'+1')))
        print("'-1' Corrilation: "+ str(stockcorr(dfm, dfa,'-1')))

BITCOIN and GOOG:
Corrilation: 0.25374193056374045
'+1' Corrilation: 0.22299652497310274
'-1' Corrilation: 0.14955791004519498
------------------
BITCOIN and MSFT
Corrilation: -0.08533805458264676
'+1' Corrilation: -0.11473842120194123
'-1' Corrilation: -0.22215276670216264
------------------
BITCOIN and AAPL
Corrilation: 0.26757823659747326
'+1' Corrilation: 0.23798312593923235
'-1' Corrilation: 0.17002723472907394
------------------
GOOG and MSFT
Corrilation: 0.46825922534333597
'+1' Corrilation: 0.47076189084415015
'-1' Corrilation: 0.31386702693410484
------------------
GOOG and AAPL
Corrilation: 0.6517236134816204
'+1' Corrilation: 0.6352419699021563
'-1' Corrilation: 0.5825213021289096
------------------
MSFT and AAPL
Corrilation: 0.2569700824269488
'+1' Corrilation: 0.27086441030751246
'-1' Corrilation: 0.1472824713500088